body {
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 20px;
}
.seir {
    font-size: 30px;
}
header {
    text-align: center;
}
.me {
    width: 300px;
    height: 375px;
    text-align: center;
}
.avatar {
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
}
.nav {
    display: inline-block;
}
.nav__link {
    color:black;
}
.nav__link:hover {
    cursor: pointer;
    text-shadow: 2px 2px yellow;
}
.nav__list {
    list-style: none;
    padding-right: 20px;
    
}
.nav__item {
    display: inline;
    padding: 5px;
    padding-right: 10px;
}
a {
    text-decoration: none;
}
.h1-about-me {
    padding-top: 40px;
}
.after {
    display: none;
    opacity: 0;
    
}
.div-about-me {
   column-count: 3;
   column-rule-style: none;
   column-gap: 40px;
   column-rule-width: 1px;
   column-width: 100px;
   padding-left: 70px;
   padding-right: 70px;
   padding-bottom: 30px;
}
.img-about {
    width: 33.33%;
    padding: 5px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-container {
   width: 70%;
   display: flex;
   justify-content: space-around;
}
.images {
    width: 80%;
    background: yellow;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px yellow;
}
.images img {
    width: 100%;
    border-radius: 10px;
    display: none;
}
button {
    align-self: center;
    background: grey;
    color: bisque;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px black;
}
button:hover {
    cursor: pointer;
    background: black;
    box-shadow: 1px 1px gray;
    color: white;
}
.images img:first-of-type {
    display: block;
}
.li-description {
    padding: 5px;
    font-size: 25px;
}
.here{
    color: black;
}
.here:hover {
    cursor: pointer;
    text-shadow: 2px 2px yellow;
}
.h1-resume {
    text-align: center;
    
}
.contact-container p {
    display: inline-block;
    
}
.p-title {
    padding-left: 20px;
    padding-right: 4px;
}
.summary {
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
}
.summary a {
    color: black;
}
.summary a:hover {
    cursor: pointer;
    text-shadow: 2px 2px yellow;
}
.skills {
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
}
.experience {
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
}
.education {
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
}
.certs {
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
}
.resume-container {
    padding-left: 100px;
    padding-right: 100px;
}
.link-container {
    text-align: left;
}
.ul-links {
    padding-top: 30px;
    padding-left: 200px;
    
}
.li-links {
    text-align: left;
    padding-right: 600px;
   
}
.li-item {
    padding-bottom: 20px;
    
}
.li-links:hover {
    cursor: pointer;
    text-shadow: 2px 2px yellow;
}
.review-container {
    padding-top: 30px;
}

.logo {
    background-color: yellow;
}
body {
    background: #fdffcd;
    margin: 0;
    line-height: 1.6;
}
:root {
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --fs-div: 1rem
}
@media (max-width: 800px) {
    :root {
        --fs-h1: 3.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
        --fs-div: 1.125rem;
    }
}
img {
    max-width: 100%;
}
h1, h2, h3 {
    line-height: 1.0;
    margin: 0;
}
h1 {font-size: var(--fs-h1)}
h2 {font-size: var(--fs-h2)}
h3 {font-size: var(--fs-h3)}

div {
    padding: 1em 2em;

}

.footer-container {
    background: yellow;
    text-align: center;
    padding: 2.5rem 0;    
}

.ul-footer {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0;
    padding: 0;
}
.ul-footer li {
    margin: 0 .5em;

}

.footer-link:hover {
    opacity: .7;
}
.review-container {
    width: 800px;
    max-width: 100%;
    background-color: #fdffcd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    width: 100vw;
    height: 50vw;
    align-items: center;
    justify-content: center;
}
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 20px 0;
}
.btn {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    cursor: pointer;
}
.btn:hover {
    border-color: black;

}
.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none;
}

.question {
    display: none;

}
.conclusion{
    display: none;
}
.lastOne, .lastTwo, .lastThree,.lastFour {
    display: none;
}
@media (max-width: 480px) {
    .div-about-me{
        display: table-row;
        display: block;
    }
}

@media screen and (max-width:768px) {
    .div-about-me, .about-me {
        display: block;
        width: 100%;
        display: table-row
    }
}