body {
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif;
}
header {
    text-align: center;
}
.me {
    width: 300px;
    height: 375px;
    text-align: center;
}
.avatar {
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
}
.nav {
    display: inline-block;
}
.nav__list {
    list-style: none;
    
}
.nav__item {
    display: inline;
    padding: 5px;
}
a {
    text-decoration: none;
}
.img-about {
    width: 33.33%;
    padding: 5px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-container {
   width: 70%;
   display: flex;
   justify-content: space-around;
}
.images {
    width: 80%;
    background: yellow;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px yellow;
}
.images img {
    width: 100%;
    border-radius: 10px;
    display: none;
}
button {
    align-self: center;
    background: grey;
    color: bisque;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px black;
}
button:hover {
    cursor: pointer;
    background: black;
    box-shadow: 1px 1px gray;
    color: white;
}
.images img:first-of-type {
    display: block;
}
.li-description {
    padding: 5px;
}
.here{
    color: black;
}
.here:hover {
    cursor: pointer;
    color: blue;
}

